<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>XMPJ 后台登入</title>
    <link href="~/Content/css/framework-font.css" rel="stylesheet" />
    <link href="~/Content/css/framework-login.css" rel="stylesheet" />
    <link href="~/Content/User/User@login.css" rel="stylesheet" />
    <script src="~/Content/js/jquery/jquery-2.1.1.min.js"></script>
    <script src="~/Content/js/cookie/jquery.cookie.js"></script>
    <script src="~/Content/js/md5/jquery.md5.js"></script>
</head>
<body>
    <div class="wrapper">
        <div class="container">
            <div class="logo">
                <i class="fa fa-modx"></i>
                <h1><span>XMPJ</span>管理系统</h1>
            </div>
            <div>
                <h2>测试账号：</h2>

                <div>
                    <button  >测试账号1</button> <span>用户名 : admin </span> <span> 密码: admin123 </span>
                </div>

            </div>
            <form class="form">
                <div class="row">
                    <input id="txt_account" type="text" placeholder="登录名" maxlength="16" >
                    <i class="fa fa-user"></i>
                </div>
                <div class="row">
                    <input id="txt_password" type="password" placeholder="密码" minlength="6" maxlength="24">
                    <i class="fa fa-key"></i>
                    <a href="/APLogin/BackPwd" class="back-pwd" style="">找回密码</a>
                </div>
                <div class="row">
                    <button id="login_button" type="button"><span>登录</span></button>
                </div>
                <div class="row">
                </div>
            </form>
            <div class="login_tips"></div>
        </div>
        <ul class="bg-bubbles">
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
        </ul>
    </div>
    <div class="copyright">

        <br>
        欢迎来到 XMPJ 管理系统
    </div>
    <script type="text/javascript" src="~/Scripts/backEnd/User@login.js"></script>
</body>
</html>
