@{
    ViewBag.Title = "Form";
    Layout = "~/Views/Shared/_Form.cshtml";
}
<script type="text/javascript" src="~/Scripts/backEnd/GoodsType@Form.js" ></script>
<form id="form1">
    <div style="margin-top: 10px; margin-left: 10px; margin-right: 10px;">
        <div style="padding-top: 20px; margin-right: 30px;">
            <table class="form">
                <tr>
                    <th class="formTitle">名称</th>
                    <td class="formValue">
                        <input id="TypeName" name="TypeName" type="text" class="form-control required" placeholder="请输入名称" />
                    </td>
                </tr>
            </table>
        </div>
    </div>
</form>