<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <add name="ConnectionString" connectionString="Data Source=ZMC;Initial Catalog=XieMiShop;User ID=sa;Password=zichen" providerName="System.Data.SqlClient" />
    <!--<add name="ConnectionString" connectionString="server=iZ94z5h0ttpZ\SQLEXPRESS;database=AchieveDB;uid=sa;pwd=5ypcqh" />-->
  </connectionStrings>
</configuration>