
@{
    ViewBag.Title = "AgoodsList";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="classification">
    <div class="separated"></div>
    <div class="layout">
        @*路径栏*@
        <div class="path_bar fcn">
            <a>首页</a>&nbsp;>&nbsp;<a></a>
        </div>

        @*筛选框*@
        <div class="filter_box">
            <div class="item">
                <div class="title">分类：</div>
                <a class="first-category type-action type">全部</a>
                <ul class="" style="flex: auto">

                    @{
                        var list = ViewData["AGoodsType"] as List<XM.Model.DicEntity>;
                        foreach (XM.Model.DicEntity entity in list)
                        {
                            <li><a class="type" data-id="@entity.id">@entity.name</a></li>
                        }
                    }

                </ul>
            </div>
            <div class="item">
                <!-- 升序选择（从低到高）： sort-asc selected   降序选择（从高到低）： sort-desc selected -->
                <div class="title">排序：</div>
                <a class="first-category sort sort-action sort-asc" data-val="up_time" data-order="asc">上架时间<s></s></a>
                <ul class="" style="flex: auto">
                    <li><a class="sort" data-val="price">价格<s></s></a></li>
                </ul>
            </div>
        </div>

        @*商品展示框*@
        <div class="goods-exhibition">
            <ul>
                @*<li>
                <div class="goods-item">
                    <p class="p-img">
                        <a>
                            <img />
                        </a>
                    </p>
                    <p class="p-title">
                        <a>
                            <span>名称</span>
                            <span class="red">亮点</span>
                        </a>
                    </p>
                    <p class="p-price">
                        <b>￥99</b>
                    </p>
                    <div class="p-button">
                        <a class="">立即下单</a>
                    </div>
                </div>
            </li>*@
            </ul>
            <div class="empty">
                暂无商品~~
            </div>
        </div>

        @*分页*@
        <div id="paging-box">
            <ul class="pagination"></ul>
        </div>
    </div>
</div>
<script src="~/Scripts/vip/paging.js"></script>
<script src="~/Scripts/vip/vip@AgoodsList.js"></script>

