
<!DOCTYPE html>
<html>
<head>

</head>
<body>
    <div id="app">
        <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pb-2 mb-3 border-bottom">
            <h1 class="h2">个人信息</h1>
        </div>

        <main role="main" class="col-md-11 ml-sm-auto col-lg-10 pt-3 px-4" >
           

        </main>

    </div>
    <script>

    </script>
</body>
</html>