<div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pb-2 mb-3 border-bottom">
    <h1 class="h2">商品上架&定价</h1>
    @*<div class="btn-toolbar mb-2 mb-md-0">
            <div class="btn-group mr-2">
                <button class="btn btn-sm btn-outline-secondary">Share</button>
                <button class="btn btn-sm btn-outline-secondary">Export</button>
            </div>
            <button class="btn btn-sm btn-outline-secondary dropdown-toggle">
                <span data-feather="calendar"></span>
                This week
            </button>
        </div>*@
</div>
<nav class="col-md-2 d-none d-md-block bg-light sidebar">
    <div class="list-group">
        <button type="button" class="list-group-item list-group-item-action active">
            商品类型
        </button>
        <button type="button" class="list-group-item list-group-item-action">手机</button>
        <button type="button" class="list-group-item list-group-item-action">Morbi leo risus</button>
        <button type="button" class="list-group-item list-group-item-action">Porta ac consectetur ac</button>
        <button type="button" class="list-group-item list-group-item-action" disabled>Vestibulum at eros</button>
    </div>
</nav>

<main role="main" class="col-md-9 ml-sm-auto col-lg-10 pt-3 px-4">

    <div class="card" style="width: 18rem; display: inline-flex ;">
        <img class="card-img-top" src="https://avatars.mds.yandex.net/get-pdb/25978/08f09eb2-a5e3-4a14-a076-9eda45d1a1cf/s1200" style="height : 165px" alt="Card image cap">
        <div class="card-body">
            <h5 class="card-title">标题</h5>
            <p class="card-text">信息</p>
        </div>
        <ul class="list-group list-group-flush">
            <li class="list-group-item">商品发布时间: <span></span> </li>
            <li class="list-group-item">商品参考价: <span></span> </li>
            <li class="list-group-item">定价:</li>
        </ul>
        <div class="card-body">
            <a href="#" class="btn btn-primary">一键发布</a>
            <a href="#" class="card-link">Another link</a>
        </div>
    </div>
</main>
