
@{
    ViewBag.Title = "Index";
}

<!DOCTYPE html>
<html>

<body>
    <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pb-2 mb-3 border-bottom">
        <h1 class="h2">会员管理</h1>
        @*<div class="btn-toolbar mb-2 mb-md-0">
                <div class="btn-group mr-2">
                    <button class="btn btn-sm btn-outline-secondary">Share</button>
                    <button class="btn btn-sm btn-outline-secondary">Export</button>
                </div>
                <button class="btn btn-sm btn-outline-secondary dropdown-toggle">
                    <span data-feather="calendar"></span>
                    This week
                </button>
            </div>*@
    </div>
    <div><button type="button" class="btn btn-secondary" onclick="editVIP" data-toggle="modal" data-target="#exampleModalCenter">添加会员</button>  <input type="text" class="form-control" style="display: inline-table " id="search"><button type="submit" class="btn btn-primary mb-2" onclick="search()">搜索</button> </div>
    <div class="table-responsive">
        <table class="table table-striped table-sm">
            <thead>
                <tr>
                    <th>手机号</th>
                    <th>会员名</th>
                    <th>邮箱</th>
                    <th>状态</th>
                    <th>日期</th>
                    <th>操作</th>
                </tr>
            </thead>
            <tbody id="tbody"></tbody>
        </table>
    </div>

    @*添加会员*@
    <!-- Modal -->
    <div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLongTitle">添加会员</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="form-group row">
                        <label for="inputPassword" class="col-sm-2 col-form-label">用户名</label>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" id="vip_AN" placeholder="请输入用户名">
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="inputPassword" class="col-sm-2 col-form-label">密码</label>
                        <div class="col-sm-10">
                            <input type="password" class="form-control" id="vip_pwd" placeholder="请输入密码">
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="inputPassword" class="col-sm-2 col-form-label">手机号</label>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" id="vip_mp" placeholder="手机号">
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="inputPassword" class="col-sm-2 col-form-label">邮箱</label>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" id="vip_email" placeholder="邮箱">
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="inputPassword" class="col-sm-2 col-form-label">状态管理</label>
                        <select class="form-control" id="status_id">
                            <option value="1">启用</option>
                            <option value="2">禁用</option>
                        </select>
                    </div>
                </div>

                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal" id="clossAdd">关闭</button>
                    <button type="button" class="btn btn-primary" id="addBtn" onclick="addVIP()">保存</button>
                </div>
            </div>
        </div>
    </div>

    @*编辑会员*@
    <!-- Modal -->
    <div class="modal fade" id="editVIP" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div hidden id="v_id"></div>
            <div hidden id="agent_id"></div>
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLongTitle">编辑会员</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="form-group row">
                        <label for="inputPassword" class="col-sm-2 col-form-label">用户名</label>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" id="edit_vip_AN" placeholder="请输入用户名" readonly>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="inputPassword" class="col-sm-2 col-form-label">手机号</label>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" id="edit_vip_mp" placeholder="手机号">
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="inputPassword" class="col-sm-2 col-form-label">邮箱</label>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" id="edit_vip_email" placeholder="邮箱">
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="inputPassword" class="col-sm-2 col-form-label">状态管理</label>
                        <select class="form-control" id="edit_status_id">
                            <option value="1">启用</option>
                            <option value="2">禁用</option>
                        </select>
                    </div>
                </div>

                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal" id="clossAdd">关闭</button>
                    <button type="button" class="btn btn-primary" id="addBtn" onclick="editToVIP()">保存</button>
                </div>
            </div>
        </div>
    </div>





    <script>

        //封装查询功能
        function search() {
            const search = $("#search").val();

            let datapram = {
                "vip_AN": search,
                "vip_mp": search,
                "vip_Email": search,
                "status_id": search
            }

            $.ajax({
                url: "/VIP/GetAllVIP",
                method: 'get',
                data: datapram,
                dataType: 'json'
            }).done(function (data) {
                objs = data.rows;
                //调用列表数据可视化函数
                showList(objs);
            })

        }

        var objs = {};

        //编辑用户信息--进行用户表单的填充 ,传入的是一个用户下标
        function editVIP(id) {
            //将编辑表单的项拿下来
            let edit_vip_AN = $("#edit_vip_AN");
            let edit_vip_mp = $("#edit_vip_mp");
            let edit_vip_email = $("#edit_vip_email");
            let edit_status_id = $("#edit_status_id");
            let v_id = $("#v_id");
            let agent_id = $("#agent_id");
            //使用下标去获取这个对象
            let vip = objs[id];
            //表单值填充
            edit_vip_AN.val(vip.vip_AN);
            edit_vip_mp.val(vip.vip_mp);
            edit_vip_email.val(vip.vip_email);
            edit_status_id.val(vip.status_id);
            v_id.val(vip.id);
            agent_id.val(vip.agent_id);

        }
        //发送请求，带这个VIP去进行修改
        function editToVIP() {
            let edit_vip_AN = $("#edit_vip_AN");
            let edit_vip_mp = $("#edit_vip_mp");
            let edit_vip_email = $("#edit_vip_email");
            let edit_status_id = $("#edit_status_id");
            let vip_id = $("#v_id");
            let agent_id = $("#agent_id");

            //将数据封装
            let datapram = {
                "vip_AN": edit_vip_AN.val(),
                "vip_mp": edit_vip_mp.val(),
                "vip_email": edit_vip_email.val(),
                "status_id": edit_status_id.val(),
                "vip_id": vip_id.val(),
                "agent_id": agent_id.val()
            }

            $.ajax({
                url: '/VIP/Update',
                method: 'post',
                data: datapram,
                dataType: 'json'
            }).done((data) => {
                console.log(data)
            });
        }

        //添加用户
        function addVIP() {
            //拿表单数据
            let vip_AN = $("#vip_AN");
            let vip_pwd = $("#vip_pwd");
            let vip_mp = $("#vip_mp");
            let vip_email = $("#vip_email");
            let status_id = $("#status_id");
            //将数据封装
            let datapram = {
                "vip_AN": vip_AN.val(),
                "vip_pwd": vip_pwd.val(),
                "vip_mp": vip_mp.val(),
                "vip_email": vip_email.val(),
                "status_id": status_id.val(),
                "agent_id": localStorage.getItem("Agent_ID")
            }
            //发送ajax请求
            $.ajax({
                url: '/VIP/Signin',
                method: 'post',
                data: datapram,
                dataType: 'json'
            }).done((data) => {

                if (data.success) {
                    vip_AN.val("");
                    vip_pwd.val("");
                    vip_mp.val("");
                    vip_email.val("");
                    status_id.val("");
                    $("#exampleModalCenter").modal('hide');
                    onloadData();
                    alert("添加成功");
                } else {
                    alert("添加失败");
                }
            });
            //console.log(vip_AN + status_id)
            //清除表单数据并关闭添加窗口
        }

        //页面加载时，去后台拿数据
        function onloadData() {

            $.ajax({
                url: "/VIP/GetAllVIP",
                method: 'get',
                dataType: 'json'
            }).done(function (data) {
                objs = data.rows;
                //调用列表数据可视化函数
                showList(objs);
            })
        }

        //封装列表显示函数，传入列表对象进行渲染页面
        function showList(objs) {
            $("#tbody").empty();
            $.each(objs, function (index, obj) {

                const trs = $("<tr></tr>");


                const vip_mp = $("<td>" + obj.vip_mp + "</td>");
                trs.append(vip_mp)
                const vip_AN = $("<td>" + obj.vip_AN + "</td>");
                trs.append(vip_AN)
                const vip_email = $("<td>" + obj.vip_email + "</td>");
                trs.append(vip_email)
                if (obj.status_id == 1) {
                    const status_id = $("<td>" + "启用" + "</td>");
                    trs.append(status_id)
                } else {
                    const status_id = $("<td>" + "禁用" + "</td>");
                    trs.append(status_id)
                }
                const vip_CDT = $("<td>" + obj.vip_CDT + "</td>");
                trs.append(vip_CDT)

                const vip_Btn = $("<td><button type='button' class='btn btn - secondary' data-toggle='modal' data-target='#editVIP'onclick='editVIP(" + index + ")'>编辑</button></td>");
                trs.append(vip_Btn)
                $("#tbody").append(trs)
            })
        }



        //入口函数
        $(document).ready(function () {
            if (localStorage.getItem("Agent_Name") == null) {
                location.href = "/Agent/Login";
            } else {
                onloadData();
            }
        });



    </script>
</body>
</html>

