.user-info .header {
    border-bottom: 1px solid #dedede;
    padding: 0 0 0 25px;
}

.user-info .main {
    width: 260px;
    margin: 20px 5%;
}

.user-info .form-group {
    margin-bottom: 20px;
}

.user-info .warning {
    color: #f4786e;
    float: left;
}

.user-info .alter_but {
    width: 90px;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    background: #475059;
    color: #fff;
}
