

@{
                /**/

                ViewBag.Title = "Index";
}

<!DOCTYPE html>
<html>

<body>
    <div>
        <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pb-2 mb-3 border-bottom">
            <h1 class="h2">会员管理</h1>

        </div>
        <div><button type="button" class="btn btn-secondary" onclick="editVIP" data-toggle="modal" data-target="#exampleModalCenter">添加会员</button>  <input type="text" class="form-control" style="display: inline-table " onkeypress="searches()" id="search"><button class="btn btn-primary mb-2" onclick="searches()">搜索</button> </div>


        <div class="table-responsive">
            <table class="table table-striped table-sm">
                <thead>
                    <tr>

                        <th>手机号</th>
                        <th>会员名</th>
                        <th>邮箱</th>
                        <th>状态</th>
                        <th>日期</th>
                        <th>操作</th>
                    </tr>
                </thead>
                <tbody id="tbody"></tbody>
            </table>
        </div>
        @*分页*@
        <nav aria-label="Page navigation example">
            <ul class="pagination">

                <li class="page-item">
                    <span class="page-link">
                        显示条数
                        <select class="form-control form-control-sm" id="btn_num_Rows_count" value="10">
                            <option value="10">10</option>
                            <option value="20">20</option>
                            <option value="50">50</option>
                        </select>
                    </span>
                </li>

                <li class="page-item" id="before">
                    <a class="page-link" href="#" aria-label="Previous">
                        <span aria-hidden="true">&laquo;</span>
                        <span class="sr-only">上一页</span>
                    </a>
                </li>



                <li class="page-item">
                    <a class="page-link" href="#" id="end" aria-label="Next">
                        <span aria-hidden="true">&raquo;</span>
                        <span class="sr-only">下一页</span>
                    </a>
                </li>
                <li class="page-item"><a class="page-link" id="num_Page_Count" href="#"></a></li>
                <li class="page-item"><a class="page-link" id="Page_Count" href="#"></a></li>
                <li class="page-item">
                    <span class="page-link">
                        跳转页码
                        <select class="form-control form-control-sm" id="btn_num_Page_count" value="1"></select>
                    </span>
                </li>
                <li class="page-item"><a class="page-link" id="btn_num_Page" href="#">确定</a></li>

            </ul>
        </nav>


        @*添加会员*@
        <!-- Modal -->
        <div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLongTitle">添加会员</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <div class="form-group row">
                            <label for="inputPassword" class="col-sm-2 col-form-label">用户名</label>
                            <div class="col-sm-10">
                                <input type="text" class="form-control" id="vip_AN" placeholder="请输入用户名">
                            </div>
                        </div>
                        <div class="form-group row">
                            <label for="inputPassword" class="col-sm-2 col-form-label">密码</label>
                            <div class="col-sm-10">
                                <input type="password" class="form-control" id="vip_pwd" placeholder="请输入密码">
                            </div>
                        </div>
                        <div class="form-group row">
                            <label for="inputPassword" class="col-sm-2 col-form-label">手机号</label>
                            <div class="col-sm-10">
                                <input type="text" class="form-control" id="vip_mp" placeholder="手机号">
                            </div>
                        </div>
                        <div class="form-group row">
                            <label for="inputPassword" class="col-sm-2 col-form-label">邮箱</label>
                            <div class="col-sm-10">
                                <input type="text" class="form-control" id="vip_email" placeholder="邮箱">
                            </div>
                        </div>
                        <div class="form-group row">
                            <label for="inputPassword" class="col-sm-2 col-form-label">状态管理</label>
                            <select class="form-control" id="status_id">
                                <option value="1">启用</option>
                                <option value="2">禁用</option>
                            </select>
                        </div>
                    </div>

                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal" id="clossAdd">关闭</button>
                        <button type="button" class="btn btn-primary" id="addBtn" onclick="addVIP()">保存</button>
                    </div>
                </div>
            </div>
        </div>

        @*编辑会员*@
        <!-- Modal -->
        <div class="modal fade" id="editVIP" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered" role="document">
                <div hidden id="v_id"></div>
                <div hidden id="agent_id"></div>
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLongTitle">编辑会员</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <div class="form-group row">
                            <label for="inputPassword" class="col-sm-2 col-form-label">用户名</label>
                            <div class="col-sm-10">
                                <input type="text" class="form-control" id="edit_vip_AN" placeholder="请输入用户名" readonly>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label for="inputPassword" class="col-sm-2 col-form-label">手机号</label>
                            <div class="col-sm-10">
                                <input type="text" class="form-control" id="edit_vip_mp" placeholder="手机号">
                            </div>
                        </div>
                        <div class="form-group row">
                            <label for="inputPassword" class="col-sm-2 col-form-label">邮箱</label>
                            <div class="col-sm-10">
                                <input type="text" class="form-control" id="edit_vip_email" placeholder="邮箱">
                            </div>
                        </div>
                        <div class="form-group row">
                            <label for="inputPassword" class="col-sm-2 col-form-label">状态管理</label>
                            <select class="form-control" id="edit_status_id">
                                <option value="1">启用</option>
                                <option value="2">禁用</option>
                            </select>
                        </div>
                    </div>

                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal" id="clossAdd">关闭</button>
                        <button type="button" class="btn btn-primary" id="addBtn" onclick="editToVIP()">保存</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script src="~/Scripts/Home/Index.js"></script>

</body>
</html>

