
@{
    ViewBag.Title = "Login";
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <title>代理登录页</title>
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
    <script src="~/Scripts/jquery-3.3.1.min.js"></script>
    <link href="~/Content/Login/Login.css" rel="stylesheet" />
</head>

<body class="text-center">

    <form class="form-signin">
        <h1 class="h3 mb-3 font-weight-normal">代理用户登录页面</h1>
        <label for="inputEmail" class="sr-only">Email address</label>
        <input type="text" id="inputUserName" class="form-control" placeholder="UserName" required autofocus value="agent0">
        <label for="inputPassword" class="sr-only">Password</label>
        <input type="password" id="inputPassword" class="form-control" placeholder="Password" required value="agent0">


        <button class="btn btn-lg btn-primary btn-block" type="button" id="login" >登录</button>
        
    </form>

    <script>
        $(document).ready(function () {
            function login() {
                const inputUserName = $("#inputUserName").val()
                const inputPassword = $("#inputPassword").val()
                if (inputUserName.trim() == "" || inputPassword.trim() == "") {
                    alert("用户名或密码不能为空");
                } else {
                    let datapram = {
                        "AN": inputUserName,
                        "pwd": inputPassword
                    }
                    $.ajax({
                        url: '/Home/Login',
                        method: 'post',
                        data: datapram,
                        dataType: 'json'
                    }).done((data) => {
                        if (data.success) {
                            location.href = "/Home/Index";
                        } else {
                            alert("用户名或密码错误")
                        }
                    })
                }
            }
            $('#inputPassword').bind('keydown', function (event) {
                var event = window.event || arguments.callee.caller.arguments[0];
                if (event.keyCode == 13) {
                    login();
                }
            });
            $('#login').bind('click', function (event) {
                    login();
            });
        });
    </script>
</body>

</html>

