<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>用户信息</title>
    <link href="/Content/js/bootstrap/bootstrap.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="/Content/User/UserInfo.css" />
</head>
<body>
    <div class="user-info">
        <div class="header">
            <h3>个人信息</h3>
        </div>
        <div class="main">
            <div class="form-group">
                <label for="">账号</label>
                <input type="text" class="form-control" disabled>
                <span class="warning"></span>
            </div>
            <div class="form-group">
                <label for="">角色</label>
                <input type="text" class="form-control" />
                <span class="warning"></span>
            </div>
            <div class="form-group">
                <label for="">邮箱</label>
                <input type="email" class="form-control" />
                <span class="warning"></span>
            </div>
            <div class="form-group mar_b_20">
                <label for="">手机号</label>
                <input type="tel" class="form-control">
                <span class="warning"></span>
            </div>
            <div>
                <button type="button" class="btn btn-default alter_but">确定</button>
            </div>
        </div>
    </div>
</body>
</html>
