
@{
    Layout = "~/Views/Shared/_Index.cshtml";
}

<!DOCTYPE html>
<html>
<head>
    <title></title>
    <script src="~/Scripts/backEnd/Revenue@Recharge.js"></script>
</head>
<body>
    <div id="QryDayTotal">
        <div class="topPanel">
            <div class="search">
                <table>
                    <tr>
                        <td>
                            <div class="input-group">
                                <input id="date_start" type="date" class="form-control" style="width: 120px;">——
                            </div>
                        </td>
                        <td>
                            <div class="input-group">
                                <input id="date_end" type="date" class="form-control" style="width: 120px;">
                            </div>
                        </td>
                        <td>
                            <div class="input-group">
                                <span class="input-group-btn">
                                    <button id="btn_search" type="button" class="btn  btn-primary"><i class="fa fa-search"></i></button>
                                </span>
                            </div>
                        </td>
                    </tr>
                </table>
            </div>
        </div>
        <div class="gridPanel">
            <table id="gridList"></table>
        </div>
    </div>
</body>
</html>

