
@{
    Layout = "~/Views/Shared/_Index.cshtml";
}
<script src="~/Scripts/backEnd/Revenue@Recharge.js"></script>
<div class="topPanel">
    <div class="search">
        <table>
            <tr>
                <td>
                    <div class="input-group">
                        <input id="date_start" type="date" class="form-control" style="width: 100px;">
                        <input id="date_end" type="date" class="form-control" style="width: 100px;">
                        <span class="input-group-btn">
                            <button id="btn_search" type="button" class="btn  btn-primary"><i class="fa fa-search"></i></button>
                        </span>
                    </div>
                </td>
            </tr>
        </table>
    </div>
</div>
<div class="gridPanel">
    <table id="gridList"></table>
    <div id="gridPager"></div>
</div>