
@{
    Layout = "~/Views/Shared/_Index.cshtml";
}

<!DOCTYPE html>

<html>
<head>
    <title></title>
    <script src="~/Scripts/backEnd/Game@Index.js"></script>
</head>
<body>
    <div id="QryDayTotal">
        <div class="topPanel">
            <div class="search">
                <table>
                    <tr>
                        <td>
                            <div class="input-group">
                                <input id="date_start" type="date" class="form-control" style="width: 120px;">——
                            </div>
                        </td>
                        <td>
                            <div class="input-group">
                                <input id="date_end" type="date" class="form-control" style="width: 120px;">
                            </div>
                        </td>
                        <td>
                            <div class="input-group">
                                <span class="input-group-btn">
                                    <button id="btn_search" type="button" class="btn  btn-primary"><i class="fa fa-search"></i></button>
                                </span>
                            </div>
                        </td>
                        <td style="padding-left:30px;">
                            <div class="input-group">
                                <input id="txt_search_vip" type="text" placeholder="请输入会员账号" class="form-control" style="width: 150px;">
                            </div>
                        </td>
                        <td>
                            <div class="input-group">
                                <span class="input-group-btn">
                                    <button id="btn_search_vip" type="button" class="btn  btn-primary"><i class="fa fa-search"></i></button>
                                </span>
                            </div>
                        </td>
                        <td style="padding-left:30px;">
                            <div class="input-group">
                                <input id="txt_search_agent" type="text" placeholder="请输入代理商账号" class="form-control" style="width: 150px;">
                            </div>
                        </td>
                        <td>
                            <div class="input-group">
                                <span class="input-group-btn">
                                    <button id="btn_search_agent" type="button" class="btn  btn-primary"><i class="fa fa-search"></i></button>
                                </span>
                            </div>
                        </td>
                    </tr>
                </table>
            </div>
        </div>
        <div class="gridPanel">
            <table id="gridList" cellspacing="0" cellpadding="0" style="font-size:15px; border-bottom:dashed 1px"></table>
            <div id="gridPager">
                <input id="prev" type="button" value="上一页" />
                <input id="pageNav" type="text" size="5px" />
                <input id="npage" type="button" value="确定" />
                <input id="next" type="button" value="下一页">
                共<input id="pageSum" type="text" readonly="readonly" size="5px" />页
                每页
                <select id="pageSize">
                    <option value="10">10</option>
                    <option value="20">20</option>
                    <option value="50">50</option>
                </select>
                条
            </div>
        </div>
    </div>
</body>
</html>
