
<div class="registered-main">
    <div class="title">
        找回密码
    </div>
    <div class="form-group">
        <label for="name">请输入账号</label>
        <input type="text" class="form-control" id="name" name="name">
        <span class="warning"></span>
    </div>
    @*<label for="name">请输入邮箱验证码</label>
    <div class="row form-group mar_b_25">
        <div class="col-lg-12">
            <div class="input-group">
                <input type="text" class="form-control">
                <span class="input-group-btn">
                    <button class="btn btn-default" type="button">发送验证码</button>
                </span>
            </div>
        </div>
    </div>*@
    <button type="button" class="btn btn-default col-xs-12" id="btnEmail">确定</button>
</div>
        <script type="text/javascript" src="~/Scripts/vip/vip@FoundPwdPage.js"></script>
