
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>会员信息修改</title>
    <link rel="stylesheet" href="~/Content/CSS/vipinfoAlter.css" />
</head>
<body>
    <div class="info-alter">
        <div class="header">
            <h3>个人信息</h3>
        </div>
        <div class="main">
            <div class="form-group">
                <label for="name">账号</label>
                <input type="text" class="form-control" id="name" disabled>
                <span class="warning"></span>
            </div>
            <div class="form-group">
                <label for="email">邮箱</label>
                <input type="email" class="form-control" id="email" name="email">
                <span class="warning"></span>
            </div>
            <div class="form-group mar_b_20">
                <label for="tel">手机号</label>
                <input type="tel" class="form-control" id="tel" name="tel">
                <span class="warning"></span>
            </div>
            <div>
                <button type="button" class="btn btn-default alter_but">确定</button>
            </div>
        </div>
    </div>
</body>
</html>


