@using XM.Model
@model AgoodsDTO
<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>GoodsDetails</title>
    <link href="~/Content/bootstrap-3.3.7/css/bootstrap.min.css" rel="stylesheet"/>
    <link rel="stylesheet" href="~/Content/CSS/base.css"  />
    <link rel="stylesheet" href="~/Content/CSS/GoodsDetails.css" />
</head>
<body>
    <div class="goods-details">
        <div class="left">
            <p class="img-box">
                <a>
                    <img src="~/image/@Model.goods_pic" style="width:300px; height:300px" />
                </a>
            </p>
            @*<div class="img-nav">
                    <a class="img_but last"><span class="glyphicon glyphicon-circle-arrow-left" aria-hidden="true"></span></a>
                    <div class="img-list">
                        <ul>
                            <li>
                                <a><img /></a>
                            </li>
                            <li>
                                <a><img /></a>
                            </li>
                            <li>
                                <a><img /></a>
                            </li>
                            <li>
                                <a><img /></a>
                            </li>
                            <li>
                                <a><img /></a>
                            </li>
                        </ul>
                    </div>
                    <a class="img_but next"><span class="glyphicon glyphicon-circle-arrow-right" aria-hidden="true"></span></a>
                </div>*@
        </div>
        <div class="right">
            <p class="name">@Model.goods_name</p>
            <p class="sell">@Model.goods_intro</p>
            <div class="prominent">
                <div class="price">
                    <span></span><a><em>￥</em>@Model.price</a>
                </div>
                <div class="number">
                    <div class="row">
                        <div class="col-lg-6">
                            <div class="input-group">
                                <span class="input-group-btn">
                                    <button class="btn btn-default minus" type="button">
                                        <span class="glyphicon glyphicon-minus" aria-hidden="true"></span>
                                    </button>
                                </span>
                                <input type="text" class="form-control" id="count" value="1" >
                                <span class="input-group-btn">
                                    <button class="btn btn-default plus" type="button">
                                        <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
                                    </button>
                                </span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="button">
                <button type="button" class="btn btn-primary">加入购物车</button>
                <button type="button" class="btn btn-primary">立即下单</button>
            </div>
        </div>
    </div>
    <script src="~/Scripts/vip/game@AgoodsDetail.js"></script>
</body>
</html>
