
<body>
    <div id="app">
        <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pb-2 mb-3 border-bottom">
            <h1 class="h2">活动记录</h1>

        </div>
        <div>

            <input type="text" class="form-control" style="display: inline-table " placeholder="标题" v-model="title">
            <button class="btn btn-primary mb-2" v-on:click="getNoticData()">
                搜索
            </button>
        </div>
        <main role="main" class="col-md-12 ml-sm-auto col-lg-12 pt-3 px-4">
            <div>
                <nav>
                    <div class="nav nav-tabs" role="tablist">
                        <a class="nav-item nav-link active" id="home_tab" href="#nav-home" role="tab" aria-controls="nav-home" aria-selected="true">活动发布记录</a>
                    </div>
                </nav>

                <div class="table-responsive">
                    <table class="table table-striped table-sm">
                        <thead>
                            <tr>
                                <th>标题</th>
                                <th>内容</th>
                                <th>活动创建时间</th>
                                <th>活动开始时间</th>
                                <th>活动结束时间</th>
                                <th>发布人</th>
                                <th>操作</th>
                            </tr>
                        </thead>
                        <tbody v-for="(obj,index) in RecordTable" :key="index">
                            <tr v-on:click="btn_getInfo(obj.Ac_type,obj.id,index)">
                                <td>{{obj.Title}}</td>
                                <td>{{obj.Content}}</td>
                                <td>{{chageTime(obj.CreateDate)}}</td>
                                <td>{{chageTime(obj.StartDate)}}</td>
                                <td>{{chageTime(obj.EndDate)}}</td>
                                <td>{{obj.Publisher}}</td>
                                <td>
                                    @*<button v-on:click="edit_Activity(1,index,$event)">撤销活动</button>*@
                                    <button v-on:click="edit_Activity(index,$event)">修改活动</button>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>

            @*分页*@
            <nav aria-label="Page navigation example">
                <ul class="pagination">
                    <li class="page-item">
                        <div class="input-group mb-3">
                            <div class="input-group-prepend">
                                <label class="input-group-text" for="inputGroupSelect01">显示条数</label>
                            </div>
                            <select class="custom-select" id="inputGroupSelect01" v-on:click="getNoticData()" v-model="rows">

                                <option value="10">10</option>
                                <option value="20">20</option>
                                <option value="50">50</option>
                            </select>
                        </div>
                    </li>
                    <li class="page-item" v-on:click="before()">
                        <a class="page-link" href="#" aria-label="Previous">
                            <span aria-hidden="true">&laquo;</span>
                            <span class="sr-only">上一页</span>
                        </a>
                    </li>
                    <li class="page-item" v-on:click="next()">
                        <a class="page-link" href="#" aria-label="Next">
                            <span aria-hidden="true">&raquo;</span>
                            <span class="sr-only">下一页</span>
                        </a>
                    </li>
                    <li class="page-item"><a class="page-link" href="#">共 {{total_page}} 页</a></li>
                    <li class="page-item"><a class="page-link" href="#">共 {{count}} 条数据</a></li>
                    <li class="page-item">
                        <div class="input-group mb-3">
                            <select class="custom-select" id="inputGroupSelect0" v-model="page">
                                <option :value="index" v-for="(index) in total_page" :key="index">{{index}}</option>
                            </select>
                            <div class="input-group-append">
                                <label class="input-group-text" for="inputGroupSelect0">显示条数</label>
                            </div>
                        </div>
                    </li>
                    <li class="page-item"><a class="page-link" v-on:click="getNoticData()" href="#">确定</a></li>
                </ul>
            </nav>

        </main>

        @*页面模态框*@
        <div class="modal fade" id="showData" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLongTitle">活动详情</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <div class="modal-body">
                            <table class="table" style="margin-top:80px">
                                <tbody v-for="(obj,index) in RecordIndexData" :key="index">
                                    <tr>
                                        <th scope="row">订单编号</th>
                                        <td>{{obj.id}}</td>
                                    </tr>
                                    <tr>
                                        <th scope="row">活动名</th>
                                        <td>{{obj.Title}}</td>
                                    </tr>
                                    <tr>
                                        <th scope="row">活动内容</th>
                                        <td>{{obj.Content}}</td>
                                    </tr>
                                    <tr>
                                        <th scope="row">活动创建时间</th>
                                        <td>{{chageTime(obj.CreateDate)}}</td>
                                    </tr>
                                    <tr>
                                        <th scope="row">活动发布人</th>
                                        <td>{{obj.Publisher}}</td>
                                    </tr>

                                    <tr>
                                        <th scope="row">活动开始时间</th>
                                        <td>{{chageTime(obj.StartDate)}}</td>
                                    </tr>
                                    <tr>
                                        <th scope="row">活动结束时间</th>
                                        <td>{{chageTime(obj.EndDate)}}</td>
                                    </tr>
                                    <tr>
                                        <th scope="row">活动状态</th>
                                        <td>
                                            <select :value="obj.status_id" disabled>
                                                <option value="1008">启用状态</option>
                                                <option value="1009">冻结状态</option>
                                                <option value="1011">删除状态</option>
                                            </select>
                                        </td>
                                    </tr>
                                </tbody>
                                <tbody v-for="(obj,index) in res" :key="index">
                                    <tr>
                                        <th scope="row">折扣(%)</th>
                                        <td>{{obj.Discount}}</td>
                                    </tr>
                                    <tr>
                                        <th scope="row">满额</th>
                                        <td>{{obj.Ac_full}} </td>
                                    </tr>
                                    <tr>
                                        <th scope="row">减额</th>
                                        <td>{{obj.Minus}} </td>
                                    </tr>
                                    <tr>
                                        <th scope="row">优惠次数</th>
                                        <td>{{obj.Times}}</td>
                                    </tr>

                                </tbody>
                            </table>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        @*修改页面模态框*@
        <div class="modal fade" id="showInfoData" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLongTitle">活动详情</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <div class="modal-body">
                            <table class="table" style="margin-top:80px">
                                <tbody v-for="(obj,index) in editData" :key="index">
                                    <tr>
                                        <th scope="row">活动名</th>
                                        <td><input type="text" v-model="obj.Title" /></td>
                                    </tr>
                                    <tr>
                                        <th scope="row">活动内容</th>
                                        <td> <textarea v-model="obj.Content"></textarea> </td>
                                    </tr>
                                    <tr>
                                        <th scope="row">活动开始时间</th>
                                        <td><input type="datetime-local" v-model="obj.StartDate" /></td>
                                    </tr>
                                    <tr>
                                        <th scope="row">活动结束时间</th>
                                        <td><input type="datetime-local" v-model="obj.EndDate" /></td>
                                    </tr>
                                    <tr>
                                        <th scope="row">活动状态</th>
                                        <td>
                                            <select v-model="obj.status_id">
                                                <option value="1008">启用状态</option>
                                                <option value="1009">冻结状态</option>
                                                <option value="1011">删除状态</option>
                                            </select>

                                        </td>
                                    </tr>
                                </tbody>
                                <tbody v-for="(obj,index) in editRes" :key="index" >
                                    <tr>
                                        <th scope="row">折扣(%)</th>
                                        <td> <input type="number"  v-model="obj.Discount*100" /> </td>
                                    </tr>
                                    <tr >
                                        <th scope="row">满额</th>
                                        <td> <input type="number" v-model="obj.Ac_full" /> </td>
                                    </tr>
                                    <tr>
                                        <th scope="row">减额</th>
                                        <td> <input type="number" v-model="obj.Minus"  /> </td>
                                    </tr>
                                    <tr>
                                        <th scope="row">优惠次数</th>
                                        <td><input type="number" v-model="obj.Times" /></td>
                                    </tr>

                                </tbody>
                            </table>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-primary" v-on:click="edit_sub()" >保存</button>
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">关闭</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
    <script src="~/Scripts/Activity/Record.js"></script>
</body>
