

<!DOCTYPE html>
<html>
<head>

</head>
<body>
    <div id="app">
        <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pb-2 mb-3 border-bottom">
            <h1 class="h2">个人信息</h1>
        </div>

        <main role="main" class="col-md-11 ml-sm-auto col-lg-10 pt-3 px-4">
            <div>
                <table>
                    <tr>
                        <td>当前用户： <span>{{agentTable.AgentAccountName}}</span> </td>
                    </tr>
                    <tr>
                        <td>邮箱： <span>{{agentTable.Email}}</span> </td>
                    </tr>
                    <tr>
                        <td>手机号： <span>{{agentTable.MobliePhone}}</span> </td>
                    </tr>
                    <tr>
                        <td>成为代理时间： <span>{{agentTable.CreateTime.substring(0,10)}}</span> </td>
                    </tr>
                    <tr>
                        <td> <button data-toggle="modal" data-target="#updatePsw">修改密码</button> </td>
                        <td> <button>修改信息</button> </td>
                    </tr>
                </table>

            </div>

        </main>

        @*修改密码模态框*@
        <!-- Modal -->
        <div class="modal fade" id="updatePsw" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLongTitle">修改密码</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    @*旧密码（当前密码）*@
                    <div class="modal-body">
                        <div class="col-auto">
                            <label class="sr-only" for="inlineFormInputGroup">Username</label>
                            <div class="input-group mb-2">
                                <div class="input-group-prepend">
                                    <div class="input-group-text">旧密码</div>
                                </div>
                                <input type="password" class="form-control" v-model="agentPassWord" placeholder="PassWord">
                            </div>
                        </div>
                        @*新密码*@
                        <div class="col-auto">
                            <label class="sr-only" for="inlineFormInputGroup">Username</label>
                            <div class="input-group mb-2">
                                <div class="input-group-prepend">
                                    <div class="input-group-text">新密码</div>
                                </div>
                                <input type="password" class="form-control" v-model="newPassWord" placeholder="PassWord">
                            </div>
                        </div>
                        @*确认新密码*@
                        <div class="col-auto">
                            <label class="sr-only" for="inlineFormInputGroup">Username</label>
                            <div class="input-group mb-2">
                                <div class="input-group-prepend">
                                    <div class="input-group-text">确认密码</div>
                                </div>
                                <input type="password" class="form-control" v-model="againPassWord" placeholder="PassWord">
                            </div>
                        </div>
                    </div>
                    <div class="alert alert-danger" role="alert">
                        {{msg}}
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">取消</button>
                        <button type="button" class="btn btn-primary" v-on:click="updatePswSubmir()">确定修改</button>
                    </div>
                </div>
            </div>
        </div>

    </div>
    <script>
        new Vue({
            el: "#app",
            data: {
                "agentTable": [],
                "agentPassWord" : "",
                "newPassWord" : "",
                "againPassWord": "",
                "msg":""
            },
            created: function () {
                $.ajax({
                    url: "/AgentInfo/QryAgentInfo"
                }).then((data) => {
                    this.agentTable = data.rows;
                    //console.log(data.body.rows);
                });
            },
            methods: {
                updatePswSubmir() {
                    console.log(this.agentTable)
                    if (this.agentPassWord !== this.agentTable.AgentPassword) {
                        this.msg = "抱歉，当前密码与原密码不一致";
                    } else if (this.newPassWord !== this.againPassWord) {
                        this.msg = "抱歉两次输入的密码不一致";
                    } else {
                        const param = {
                            "agent_pwd": this.againPassWord
                        }
                        $.ajax({
                            url: "/AgentInfo/QryAgentInfo"
                        }).then((data) => {
                            
                        });

                    }
                }
            }
        });
    </script>
</body>
</html>