.notice-box .left {
    margin: 30px 0 0 0;
    width: 180px;
    height: 320px;
    overflow: auto;
}
.notice-box .left li>a {
    padding-top: 7px;
    padding-bottom: 7px;
}
.notice-box .left li span {
    font-size: 10px;
    float: right;
    color: #c1c1c1;
}
.notice-box .right .title {
    margin-top: 0;
}
.notice-box .content {
    height: 210px;
    text-indent: 2em;
}
.notice-box .time-box {
    float: right;
}
.notice-box .time-box p {
    margin: 0;
}
.notice-box .btn-box {
    margin: 50px 0 0 0;
}
