.classification {
}
/*路径栏*/
.classification .path_bar {
    padding: 10px 0;
}
.classification .path_bar a {
    color: #666;
    font-size: 12px
}
.classification .path_bar a:hover {
    color: #333;
}

.classification .fcn {
    font-family: \5b8b\4f53;
}

/*筛选框*/
.classification .filter_box {
    border: 1px solid #dedede;
}
.classification .filter_box > div+div {
    border-top: 1px solid #dedede;
}
.classification .filter_box > .item {
    padding: 20px 20px 8px 60px;
    font-size: 13px;
    display: flex;
}

.classification .filter_box ul > li {
    float: left;
    margin-right: 20px;
    padding: 0 0 12px 0;
}
.classification .filter_box ul a {
    color: #999;
}

.classification .filter_box ul a:hover {
    color: #666;
}
.classification .filter_box .title,.classification .filter_box .first-category {
    margin-right: 20px;
    white-space : nowrap;
    color: #999;
}
.classification .filter_box .type-action {
    color: #e01d20;
}
.classification .filter_box s {
    height: 10px;
    width: 8px;
    margin-left: 3px;
    display: inline-block;
    background: transparent url(/img/icon1.png) scroll no-repeat;
    background-position: 0 -70px;
    /*background-position: 0 -110px;*/
    /*background-position: 0 -90px;*/
}
.sort-action {
    color: #e01d20 !important;
}
.sort-asc s {
    background-position: 0 -90px !important;
}
.sort-desc s {
    background-position: 0 -110px !important;
}

/*商品展示框*/
.classification .goods-exhibition {
    margin: 20px -20px -20px 0;
    padding: 0 0 20px 0;
    min-height: 380px;
    overflow: hidden;
}
.classification .goods-exhibition .empty {
    color: #999;
    text-align: center;
    margin-right: 20px;
}
.classification .goods-exhibition > ul li {
    float: left;
    width: 20%;
}
.classification .goods-exhibition .goods-item {
    border: 1px solid #dedede;
    margin: 0 20px 20px 0;
    height: 375px;
    position: relative;
    text-align: center;
    overflow: hidden;
}
.classification .goods-exhibition .goods-item:hover {
    border-color: #e01d20;
}
.classification .goods-exhibition p{
    margin: 0;
}

.classification .goods-exhibition .p-img {
    padding: 38px 0 24px 0;
    text-align: center;
}
.classification .goods-exhibition img {
    width: 180px;
    height: 180px;
    vertical-align: top;
}
.classification .goods-exhibition .p-title {
    line-height: 16px;
    padding: 0 20px;
    overflow: inherit;
    font-size: 12px;
}
.classification .goods-exhibition a {
    color: #666;
}
.classification .goods-exhibition a:hover {
    color: #e01d20;
}
.classification .goods-exhibition span {
    display: block;
    margin-bottom: 5px;
    max-height: 32px;
    overflow: hidden;
    text-overflow: ellipsis;
}
.classification .goods-exhibition .p-price b {
    color: #e01d20;
    line-height: 30px;
    font-size: 18px;
    font-weight: 400;
}

.classification .goods-exhibition .p-button {
    border-top: 1px solid #dedede;
    position: absolute;
    left: -1px;
    bottom: -1px;
    width: 224px;
    height: 30px;
    line-height: 30px;
    cursor: pointer;
}
.classification .goods-exhibition .p-button:hover {
    background: #e01d20;
    border-color: #e01d20;
}
.classification .goods-exhibition .p-button:hover a {
    color: #ffffff;
}

.classification .goods-exhibition .c-button {
    border-top: 1px solid #dedede;
    position: absolute;
    left: -1px;
    bottom: 30px;
    width: 224px;
    height: 30px;
    line-height: 30px;
    cursor: pointer;
}

.classification .goods-exhibition .c-button:hover {
    background: #e01d20;
    border-color: #e01d20;
}

.classification .goods-exhibition .c-button:hover a {
    color: #ffffff;
}

/*分页*/
#paging-box .pagination {
    float: right;
}
#paging-box li {
    cursor: pointer;
}

#up_page a:hover, #below_page a:hover {
    color: #fff;
    background-color: #337ab7;
    border-color: #337ab7;
}

#PageTotal, #skipPage {
    width: 30px;
    text-align: center;
}





