
.info-alter .header {
	border-bottom: 1px solid #dedede;
}
.info-alter .main {
	width: 260px;
	margin: 0 auto;
	
}
.info-alter .alter_but {
	width: 90px;
    margin-top: 10px;
	position: relative;
	left: 50%;
	transform: translateX(-50%);
    background: #ca141d;
	color: #fff;
}
.info-alter .main .warning {
    float: right;
    color: #f00;
    font-size: 12px;
}