.registered-main {
    width: 300px;
    position: relative;
}

    .registered-main .title {
        text-align: center;
        font-size: 26px;
        padding-bottom: 10px;
    }

    .registered-main .warning {
        float: right;
        color: #f00;
    }

    .registered-main .mar_b_25 {
        margin-bottom: 25px;
    }
