<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>会员收货地址</title>
    <link rel="stylesheet" href="~/Content/CSS/vipSite.css" />
</head>
<body>
    <div class="vip-site">
        <div class="header">
            <h3>收货地址管理</h3>
        </div>
        <div class="main">
            <form>
                <div class="form-group">
                    <label for="site">收货地址</label>
                    <input type="text" class="form-control" id="txt_address">
                </div>
                <div class="form-group">
                    <input type="checkbox" style="vertical-align: middle;margin: 0;" /> <span>设为默认收货地址</span>
                </div>
                <div class="submit">
                    <button type="button" class="btn submit_but" id="btnAddAddress">新添地址</button>
                    <button type="button" class="btn btn-default" id="btnEmptyAddress">清空</button>
                </div>
            </form>
            <div class="site-list">
                <ul>
                    <li class="title">
                        <div class="flex-1">状态</div>
                        <div class="flex-2">地址</div>
                        <div class="flex-1">操作</div>
                    </li>
                    @*<li>
                        <div class="flex-1"><input type="checkbox" checked /></div>
                        <div class="flex-2">深圳-龙华区新牛路-港深国际中心601-c06</div>
                        <div class="flex-1" data-id="2">
                            <a class="update">修改</a>
                            <a class="delete">删除</a>
                        </div>
                    </li>
                    <li>
                        <div class="flex-1"><input type="checkbox" /></div>
                        <div class="flex-2">深圳-龙华区新牛路-港深国际中心601-c06</div>
                        <div class="flex-1" data-id="1">
                            <a class="update">修改</a>
                            <a class="delete">删除</a>
                        </div>
                    </li>*@
                </ul>
            </div>
        </div>
    </div>
    <script src="~/Scripts/vip/vipinfo@Address.js" ></script>
</body>
</html>
