
@{
    Layout = null;
}

<html>
<head>
    <title>游戏记录</title>
    <link rel="stylesheet" href="https://cdn.bootcss.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
</head>

<body>
    <div class="info-body">
        <h3>
            充值记录
            <a class="select_order">
                充值汇总
            </a>
        </h3>
        开始时间:<input type="text" id="StartDate" value="@ViewData["StartWeek"]" class="input-wdatepicker" autocomplete="off" onfocus="WdatePicker()" />
        结束时间:<input type="text" id="EndDate" value="@ViewData["EndWeek"]" class="input-wdatepicker" autocomplete="off" onfocus="WdatePicker()" />
        <button id="Query" onclick="normal()">查询</button>

        <button id="ThisWeek" onclick="ThisWeek()" class="btn recharge-confirm">本周</button>
        <button id="LastWeek" onclick="LastWeek()" class="btn recharge-confirm">上周</button>
        <button id="ThisMonth" onclick="ThisMonth()" class="btn recharge-confirm">本月</button>
        <button id="LastMonth" onclick="LastMonth()" class="btn recharge-confirm">上月</button>
        <div>
            <div class="Recharge-list">
                <p class="empty-order hidden" id="empty_order">当前无近期订单，前往<a href="/GameHome/Login">游戏</a></p>
                <ul class="" id="order_box">
                    <li>
                        <div class="flex-1">id</div>
                        <div class="flex-1">价格</div>
                        <div class="flex-1">积分</div>
                        <div class="flex-1">日期</div>
                        <div class="flex-1">状态</div>
                    </li>
                </ul>
            </div>
        </div>

        @*分页*@
        <nav aria-label="Page navigation example">
            <ul class="pagination">

                <li class="page-item">
                    <div class="input-group mb-3">
                        <div class="input-group-prepend">
                            <label class="input-group-text" for="btn_num_Rows_count">条数</label>
                        </div>
                        <select class="custom-select" id="btn_num_Rows_count" value="10">
                            <option value="10">10</option>
                            <option value="20">20</option>
                            <option value="50">50</option>
                        </select>
                    </div>
                </li>

                <li class="page-item">
                    <div class="input-group mb-3">
                        <div class="input-group-append">
                            <label class="input-group-text" for="btn_num_Page_count">页数</label>
                        </div>
                        <select class="custom-select" id="btn_num_Page_count" value="1"></select>
                    </div>
                </li>

                <li class="page-item">
                    <a class="page-link" id="before" href="#" aria-label="Previous">
                        <span aria-hidden="true">&laquo;</span>
                        <span class="sr-only">上一页</span>
                    </a>
                </li>

                <li class="page-item">
                    <a class="page-link" id="end" aria-label="Next">
                        <span aria-hidden="true">&raquo;</span>
                        <span class="sr-only">下一页</span>
                    </a>
                </li>

                <li class="page-item"><a class="page-link" id="btn_num_Page" href="#">确定</a></li>

            </ul>
        </nav>
        @*分页*@
    </div>
    <script src="~/Scripts/vip/vipinfo@QryRecharge.js"></script>
</body>
</html>