
@{
    Layout = null;
}

<html>

<head>
    <link rel="stylesheet" href="https://cdn.bootcss.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <title>游戏记录详情</title>
    <link rel="stylesheet" href="~/Content/CSS/vipinfo.css" />
    <style type="text/css">
        .sgBtn {
            width: 135px;
            height: 35px;
            line-height: 35px;
            margin-left: 10px;
            margin-top: 10px;
            text-align: center;
            background-color: #0095D9;
            color: #FFFFFF;
            float: left;
            border-radius: 5px;
        }
    </style>
</head>

<body>
    <div class="info-body">
        <h3>
            游戏记录
            <a id="back" href="#">
                返回
            </a>
        </h3>
        <div>
            <div class="Detail-list">
                <ul class="" id="order_box">
                    <li>
                        <div class="flex-1">用户名</div>
                        <div class="flex-1">收益</div>
                        <div class="flex-1">时间</div>
                        <div class="flex-1">游戏</div>
                    </li>
                </ul>
            </div>


            @*分页*@
            <nav aria-label="Page navigation example">
                <ul class="pagination">

                    <li class="page-item">
                        <div class="input-group mb-3">
                            <div class="input-group-prepend">
                                <label class="input-group-text" for="btn_num_Rows_count">条数</label>
                            </div>
                            <select class="custom-select" id="btn_num_Rows_count" value="10">
                                <option value="10">10</option>
                                <option value="20">20</option>
                                <option value="50">50</option>
                            </select>
                        </div>
                    </li>

                    <li class="page-item">
                        <div class="input-group mb-3">
                            <div class="input-group-append">
                                <label class="input-group-text" for="btn_num_Page_count">页数</label>
                            </div>
                            <select class="custom-select" id="btn_num_Page_count" value="1"></select>
                        </div>
                    </li>

                    <li class="page-item">
                        <a class="page-link" id="before" href="#" aria-label="Previous">
                            <span aria-hidden="true">&laquo;</span>
                            <span class="sr-only">上一页</span>
                        </a>
                    </li>

                    <li class="page-item">
                        <a class="page-link" id="end" aria-label="Next">
                            <span aria-hidden="true">&raquo;</span>
                            <span class="sr-only">下一页</span>
                        </a>
                    </li>

                    <li class="page-item"><a class="page-link" id="btn_num_Page" href="#">确定</a></li>

                </ul>
            </nav>
            @*分页*@

        </div>
    </div>
    <script src="~/Scripts/Game/game@RecordPage.js"></script>
</body>
</html>