@{
    ViewBag.Title = "Form";
    Layout = "~/Views/Shared/_Form.cshtml";
}
<script src="~/Scripts/backEnd/User@Form.js"></script>
<form id="form1">
    <div style="margin-top: 10px; margin-left: 10px; margin-right: 10px;">
        <div style="padding-top: 20px; margin-right: 30px;">
            <table class="form">
                <tr>
                    <th class="formTitle">账户</th>
                    <td class="formValue">
                        <input id="UserAccountName" name="UserAccountName" minlength="2" maxlength="16" type="text" class="form-control required" placeholder="请输入账户" />
                    </td>
                </tr>
                <tr>
                    <th class="formTitle">角色</th>
                    <td class="formValue">
                        <select id="RoleID" name="RoleID" class="form-control required">
                        </select>
                    </td>
                </tr>
                <tr>
                    <th class="formTitle">手机</th>
                    <td class="formValue">
                        <input id="UserMobliePhone" name="UserMobliePhone" type="text" class="form-control" required />
                    </td>
                </tr>
                <tr>
                    <th class="formTitle">邮箱</th>
                    <td class="formValue">
                        <input id="UserEmail" name="UserEmail" type="email" class="form-control" required />
                    </td>
                </tr>
                <tr>
                    <th class="formTitle">允许登录</th>
                    <td class="formValue">
                        <select id="StatusID" name="status_id" class="form-control">
                            <option value="1">是</option>
                            <option value="0">否</option>
                        </select>
                    </td>
                </tr>
            </table>
        </div>
    </div>
</form>

