@{
    ViewBag.Title = "Info";
    Layout = "~/Views/Shared/_Form.cshtml";
}
<div class="wrapper">
    <ul class="nav nav-tabs">
        <li  class="active"><a href="#a" data-toggle="tab">基本信息</a></li>
        <li><a href="#b" data-toggle="tab">修改密码</a></li>
        <li><a href="#c" data-toggle="tab">系统日志</a></li>
    </ul>
    <div class="tab-content">
        <div id="a" class="tab-pane active">
            <form id="formInfo" style="width: 400px; margin: 20px 0 0 0;">
                <table class="form">
                    <tr>
                        <th class="formTitle">账户</th>
                        <td class="formValue">
                            <input type="text" class="form-control" id="UserAccountName" name="UserAccountName" disabled value="@ViewData["UserAccountName"]" />
                        </td>
                    </tr>
                    <tr>
                        <th class="formTitle">手机</th>
                        <td class="formValue">
                            <input type="text" value="@ViewData["UserMobliePhone"]" id="UserMobliePhone" name="UserMobliePhone" class="form-control required isMobile" />
                        </td>
                    </tr>
                    <tr>
                        <th class="formTitle">邮箱</th>
                        <td class="formValue">
                            <input type="email" value="@ViewData["UserEmail"]" id="UserEmail" name="UserEmail" class="form-control required" />
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <div style="padding: 20px 0 0 115px;">
                                <a class="btn btn-primary" id="submitInfo">确认修改</a>
                            </div>
                        </td>
                    </tr>
                </table>
            </form>
        </div>
        <div id="b" class="tab-pane">
            <form id="formPwd" style="width: 400px; margin: 20px 0 0 0;">
                <table class="form">
                    <tr>
                        <th class="formTitle">原密码</th>
                        <td class="formValue">
                            <input type="password" class="form-control required" id="userPwd" name="UserPwd" maxlength="16" minlength="6" />
                        </td>
                    </tr>
                    <tr>
                        <th class="formTitle">新密码</th>
                        <td class="formValue">
                            <input type="password" class="form-control required" id="newPwd" maxlength="16" minlength="6" />
                        </td>
                    </tr>
                    <tr>
                        <th class="formTitle">确认新密码</th>
                        <td class="formValue">
                            <input type="password" class="form-control required repeatPwd" id="confirmPwd" pwdId="#newPwd" maxlength="16" minlength="6" />
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <div style="padding: 20px 0 0 115px;">
                                <a id="submitPwd" class="btn btn-primary">确认修改</a>
                            </div>
                        </td>
                    </tr>
                </table>
            </form>
        </div>
        <div id="c" class="tab-pane" style="padding-right: 15px;">
            3
        </div>
    </div>
    </div>
<script type="text/javascript" src="~/Scripts/backEnd/User@UserInfo.js"></script>
