
@{
    Layout = null;
}

<html>

<head>
    <title>xmGameGetCredit</title>
    <script src="~/Scripts/jquery-3.4.0.min.js"></script>
    <script src="~/Scripts/jquery.md5.js"></script>
</head>

<body>
    <input type="text" id="action" name="action" value="GetCredit" />
    <input type="text" id="VipAN" name="VipAN" />
    <input type="text" id="culture" name="culture" />

    <button class="btn btn-lg btn-primary btn-block" type="button" id="login">查询</button>
    <script>
        $("#login").click(function () {
            var action = $("#action").val()
            var VipAN = $("#VipAN").val()
            var culture = $("#culture").val()

            $.ajax({
                //url: 'http://172.16.31.232:9678/take',
                //method: 'POST',
                //data: { 'action': action, 'key': $.md5(VipAN + 'c33e90a9-0714-48ee-89cc-8be9aff00710'), 'paras': [VipAN], 'culture': culture },
                //success: function (e) {
                //    console.log(e);
                //}

                
                url: 'http://172.16.31.232:9678/take',
                method: 'POST',
                data: { 'action': 'GetCredit', 'key': $.md5('vip' + 'c33e90a9-0714-48ee-89cc-8be9aff00710'), 'paras': ['vip'], 'culture': 'zh-cn' },
                success: function (e) {
                    console.log(e);
                }
            })
        });

    </script>
</body>


</html>

