<link href="~/Content/CSS/notice.css" rel="stylesheet" type="text/css" />
<div class="notice-box">
    <div class="col-xs-4 left">
        <ul class="nav nav-pills nav-stacked" id="notice-box">
        </ul>
    </div>
    <div class="col-xs-8 right">
        <div>
            <h3 id="title" class="title">标题</h3>
            <div>
                <div id="txtcontent" class="content">

                </div>
                <div class="time-box">
                    发布时间: <span id="txt_time">时间</span>
                </div>
            </div>
        </div>
        <div class="btn-box">
            <div class="pull-right">
                <button class="btn btn-primary" type="submit">已读</button>
                <button class="btn btn-info" type="submit">关闭</button>
            </div>
        </div>
    </div>
</div>
<script src="~/Scripts/vip/notice.js"></script>