@{
    ViewBag.Title = "Form";
    Layout = "~/Views/Shared/_Form.cshtml";
}
<script type="text/javascript" src="~/Scripts/backEnd/Vip@_Form.js"></script>
<form id="form1">
    <div style="margin-top: 10px; margin-left: 10px; margin-right: 10px;">
        <div style="padding-top: 20px; margin-right: 30px;">
            <table class="form">
                <tr>
                    <th class="formTitle">账户</th>
                    <td class="formValue">
                        <input id="vip_AN" name="vip_AN" minlength="6" maxlength="16" type="text" class="form-control required" placeholder="请输入账户" />
                    </td>
                </tr>
                <tr>
                    <th class="formTitle">代理商</th>
                    <td class="formValue">
                        <select id="agent_id" name="agent_id" class="form-control required">
                        </select>
                    </td>
                </tr>
                <tr>
                    <th class="formTitle">手机</th>
                    <td class="formValue">
                        <input id="vip_mp" name="vip_mp" type="text" class="form-control" required />
                    </td>
                </tr>
                <tr>
                    <th class="formTitle">邮箱</th>
                    <td class="formValue">
                        <input id="vip_email" name="vip_email" type="email" class="form-control" required />
                    </td>
                </tr>
                <tr>
                    <th class="formTitle">允许登录</th>
                    <td class="formValue">
                        <select id="status_id" name="status_id" class="form-control">
                            <option value="1">是</option>
                            <option value="0">否</option>
                        </select>
                    </td>
                </tr>
            </table>
        </div>
    </div>
</form>

