
@{
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
    <meta name="viewport" id="viewport" content="width=device-width,initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <meta name="format-detection" content="telephone=no" />
    <link rel="stylesheet" href="~/Areas/Phone/Content/Model/reset.css" type="text/css" />
    <link href="~/Areas/Phone/Content/search/sousSearch.css" rel="stylesheet" type="text/css">
    <script type="text/javascript" src="~/Areas/Phone/Script/Model/jquery-3.4.0.min.js"></script>
    <title></title>
</head>
<body>
    <div class="d7-sousuo-wear">

        <div class="d7-sousuo-top">
            <a href="javascript:history.go(-1)" class="d7-sousuo-t1"></a>
            <span class="d7-sousuo-t2">
                <input id="search" type="text" placeholder="搜索品牌 店铺..." name="">
            </span>
            <span class="d7-sousuo-t3"></span>
        </div>

        <div class="d7-sousuo-mid">
            <span class="d7-sousuo-tit">最近搜索</span>
            <span class="d7-sousuo-jl1">华为</span>
            <span class="d7-sousuo-jl1">小米</span>
            <span class="d7-sousuo-tit">热门搜索</span>
            <span class="d7-sousuo-jl1">Kenzo 男士</span>
            <span class="d7-sousuo-jl1">Kenzo 男士</span>
            <span class="d7-sousuo-jl1">Kenzo 男士</span>
            <span class="d7-sousuo-jl1">Kenzo 男士</span>
        </div>
    </div>
    <script>
        $(document).ready(function () {
            $("#search").focus();
        })
    </script>
</body>
</html>
