@{
    ViewBag.Title = "Form";
    Layout = "~/Views/Shared/_Form.cshtml";
}
<script src="~/Scripts/backEnd/Goods@_Form.js"></script>
<form id="form1">
    <div style="margin-top: 10px; margin-left: 10px; margin-right: 10px;">
        <div style="padding-top: 20px; margin-right: 30px;">
            <table class="form">
                <tr>
                    <th class="formTitle">名称</th>
                    <td class="formValue">
                        <input id="goods_name" name="goods_name" minlength="6" maxlength="16" type="text" class="form-control required" placeholder="请输入账户" />
                    </td>
                </tr>
                <tr>
                    <th class="formTitle">类型</th>
                    <td class="formValue">
                        <select id="type_id" name="type_id" class="form-control required">
                            <option value="">==请选择==</option>
                            <option value="1">1</option>
                        </select>
                    </td>
                </tr>
                <tr>
                    <th class="formTitle">单价</th>
                    <td class="formValue">
                        <input id="goods_CP" name="goods_CP" type="text" class="form-control" required />
                    </td>
                </tr>
                <tr>
                    <th class="formTitle">图片</th>
                    <td class="formValue">
                        <input id="goods_pic" name="goods_pic" type="text" class="form-control" required />
                    </td>
                </tr>
            </table>
        </div>
    </div>
</form>