@{
    ViewBag.Title = "Form";
    Layout = "~/Views/Shared/_Form.cshtml";
}
<script src="~/Scripts/backEnd/Goods@Form.js"></script>
<form id="form1" enctype="multipart/form-data">
    <div style="margin-top: 10px; margin-left: 10px; margin-right: 10px;">
        <div style="padding-top: 20px; margin-right: 30px;">
            <table class="form">
                <tr>
                    <th class="formTitle">名称</th>
                    <td class="formValue">
                        <input id="GoodsName" name="GoodsName" type="text" class="form-control required" placeholder="请输入账户" />
                    </td>
                </tr>
                <tr>
                    <th class="formTitle">类型</th>
                    <td class="formValue">
                        <select id="GoodsType" name="GoodsType" class="form-control required"></select>
                    </td>
                </tr>
                <tr>
                    <th class="formTitle">单价</th>
                    <td class="formValue">
                        <input id="GoodsPrice" name="GoodsPrice" type="isNumber" class="form-control" required />
                    </td>
                </tr>
                <tr>
                    <th class="formTitle">图片</th>
                    <td class="formValue">
                        <input id="GoodsPicture" name="GoodsPicture" type="file" class="form-control" required />
                    </td>
                </tr>
                <tr>
                    <th class="formTitle">介绍</th>
                    <td class="formValue">
                        <textarea id="GoodsIntro" name="GoodsIntro" class="form-control" style="height: 60px;"></textarea>
                    </td>
                </tr>
            </table>
        </div>
    </div>
</form>